[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-starter-theme"]
	path = themes/hugo-starter-theme
	url = https://github.com/ericmurphyxyz/hugo-starter-theme.git
