
header {
    border: 3px solid limegreen;
}

main {
    border: 3px solid yellow;
  }

footer {
    border: 3px solid hotpink;
  }

  .header-left {
    border: 3px solid blue;
  }

  .header-left > * {
    border: 3px solid red;
  }


  .header-right {
    border: 3px solid blueviolet;   
}

  nav > ul {
    border: 3px solid cyan;
  }

.debug-footer {
  font-family: "Lucida Console", Monaco, monospace !important;
  font-size: 75%;
  color: black;
  background-color: limegreen;

}