body {
    min-height: 100vh;
    min-height: 100Dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items:stretch;
}

.header-left, .footer-left {
    float: left;
}

.header-right, .footer-right{
    float: right;
}

.header-left > * {
    margin-left: 0.5rem;
}

.header-right  nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem ;
    justify-content: flex-end;
    margin: 0 0.25rem 0 0;
    padding: 0;
    list-style: none;
}

.footer-right  nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem ;
    justify-content: flex-end;
    margin: 0 0.25rem 0 0;
    padding: 0;
    list-style: none;
}
