body {
    min-height: 100vh;
    min-height: 100Dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:stretch;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-left > * {
    margin-left: 0.5rem;
}

.header-right  nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem ;
    justify-content: flex-end;
    margin-right: 0.75rem;
}